#main_header {
    font-family: 'NEXONLv1Gothic';
    padding: 20px;
    font-weight: 700;
    > h1 {
        display: inline-block;
        font-size: 20px;
        border-bottom: 1px dashed #FFF;
        margin-bottom: 10px;
    }
}